:root {
	font-family: 'PT Sans', sans-serif;
	font-family: 'IBM Plex Sans Hebrew', sans-serif;
	font-family: 'HYWenhei', sans-serif;
	font-family: 'Tangut';
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

@font-face {
	font-family: 'HYWenhei';
	src: local('HYWenHei-55S'),
		url('./assets/font/HYWenHei-55S.ttf') format('truetype');
}

@font-face {
	font-family: 'Tangut';
	src: local('Tangut'), url('./assets/font/Tangut.ttf') format('truetype');
}
